<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>掲示板</title>
  </head>
  <body>
    <form action="bbs.thml" th:action="@{/bbs/post-article}" method="post">
      <div>投稿者名：<input type="text" name="name" /></div>
      <div>投稿内容：<textarea name="content" id=""></textarea></div>
      <button type="submit">記事投稿</button>
    </form>
    <hr />
    <br />
    <div th:each="article : ${articleList}">
      投稿者名：
      <span th:text="${article.name}">dummy</span><br />
      <br />
      投稿内容：
      <div th:text="${article.content}">dummy</div>
      <br />
      <form action="bbs.html" th:action="@{/bbs/delete-article}" method="post">
        <input type="hidden" th:value="${article.id}" name="id" />
        <button type="submit">投稿削除</button>
      </form>
      <div th:each="comment : ${article.commentList}">
        コメント者名：
        <div th:if="${comment.name != null}">
          <span th:text="${comment.name}">dummy</span>
        </div>
        <br />
        コメント内容：
        <div th:if="${comment.content != null}">
          <span th:text="${comment.content}">dummy</span>
        </div>
        <br />
      </div>
      <br />
      <form action="bbs.html" th:action="@{/bbs/post-comment}" method="post">
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <div>コメント者名：<input type="text" name="name" /></div>
        <div>コメント内容：<textarea name="content" id=""></textarea></div>
        <button type="submit">コメント投稿</button>
      </form>
      <hr />
      <br />
    </div>
    <div></div>
  </body>
</html>
